# Install progress bar
tqdm

# Install pytest
pytest

# Install matplotlib for plotting of scripts
matplotlib

# Install black
black

# Install Sphinx
sphinx

# Install Sphinx theme
sphinx-rtd-theme

# Install Gauss-integrator
git+https://github.com/HyQD/gauss-integrator.git
